<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Hello World !</h1>

        <ul>
            {%for pessoa in pessoas %}
                <li>{{ pessoa.id }} - {{ pessoa.nome }}</li>
            {% endfor %}
        </ul>

        <form action="{% url 'salvar' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="nome" placeholder="digite um nome">
            <button type="submit" name="enviar">Salvar</button>     
        </form>
    </body>
</html>


